$primary_color: #D83F87;
$secondary_color: #b10355;
$tri_color: #44318D;
$base_color: #E98074;
$bg_color: #A4B3B6;
$white_color: #ffffff;
$black_color: #000000;
$border: #cccccc;

$error_color: #ff4545;
$success_color: #008000;
