<div class="space-20"></div>
<h2 class="ak-sub-title">For more info, contact us</h2>
<table class="ak-para">
  <tr class="row">
    <td class="col-xs-6 col-md-4">
      Ankit K Sharma
    </td>
    <td class="col-xs-6 col-md-4">
      Mobile: <a href="tel:+919311564928">+91-9311564928</a>
    </td>
    <td class="col-xs-6 col-md-4">
      Email: <a href="mailto:aks.computerexpert@gmail.com">aks.computerexpert@gmail.com</a>
    </td>
    <td class="col-xs-6 col-md-4">
      Twitter: <a href="https://twitter.com/ankit_k_sharma" target="_blank">ankit_k_sharma</a>
    </td>
    <td class="col-xs-6 col-md-4">
      Github : <a href="https://github.com/ankitkumarsharma" target="_blank">ankitkumarsharma</a>
    </td>
  </tr>
</table>
<hr>
