<div class="row">
  <div class="col-md-3">
    <div routerLink="/static-crud" class="card">
      <div class="card-body">
        <h2 class="ak-title">Static CRUD</h2>
        <h3 class="ak-sub-title">Static CRUD with static values.</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div routerLink="/dynamic-crud" class="card">
      <div class="card-body">
        <h2 class="ak-title">Dynamic CRUD</h2>
        <h3 class="ak-sub-title">Dynamic CRUD with backend values.</h3>
      </div>
    </div>
  </div>
</div>
